.hidden {
    display: none;
}

.tomato {
    color: tomato;
}

.center {
    text-align: center;
}

.top {
    position: fixed;
    top: 250;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 300 auto;
}

.verticalCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.topLeft {
    position: fixed;
    top: 30px;
    left: 110px;
    transform: translate(-50%, -50%);
    margin: 0px auto;
    display:grid;
}

ul {
    position: fixed;
    margin: 30px 0px;
    padding-left: 20px;
}
#todo-list li span {
    padding-right: 7px;
}

#bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    width: 105%;
    height: 105%;
    filter: blur(10px);
    z-index: -1;
} 

#todo-form input{
    width:185px;
}

* {
    color: white;
    text-shadow: black 0px 0px 2px;
}